
<hr/>

<h1>Welcome to {{title}}</h1>

<br>

<ul><a href="/celebrities/create">New Celebrity</a></ul>
<ul><a href="/celebrities">Celebrity List</a></ul>
<ul><a href="/movies/create">New Movie</a></ul>
<ul><a href="/movies">Movie List</a></ul>

<hr/>

